/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
/public/bundle.js
/public/*.png
/public/*.ico
/public/icons
/readme2.md
root@138.68.78.121

/public/components/build
/public/components/node_modules
/public/components/yarn.lock
/forge.sql
/apache2
/localhost.sh
/hs-local.conf
/send.sh
/push.sh

/public/api/build
/public/api/node_modules
/public/api/yarn.lock
/public/hs.js
/public/app.js
